<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
  <%- include('partials/_header'); %>
  <main class="all-listings">
    <a><strong>Featured</strong></a>
    <section class="featured">
    <% for(let product of products.filter((item) => item.isfeatured===true)) { %>
      <article class="featured-listing">
        <a href="products/<%=`${product.id}`%>">
        <img src="<%= `${product.img_url}` %>">
        <div class="title"><%= product.title %></div>
      </a>
        <span class="price">$<%= product.price %></span>
      </article>
      <% } %>
    </section>
    <div class="sorting-buttons">
      <button>Favourite</button>
      <button>Sort Price</button>
    </div>
    <% for(let product of products.filter((item) => item.isfeatured===false)) { %>
    <article class="listing">
      <a href="products/<%=`${product.id}`%>">
      <img class="listing-img" src="<%= `${product.img_url}` %>">
    </a>
      <div class="listing-details">
        <a href="products/<%=`${product.id}`%>"><%= product.title %></a>
        <div class="price">$<%= product.price %></div>
        <p><%= product.description %></p>
      </div>
    </article>
    <% } %>
  </main>
</body>
</html>
