<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
  <%- include('partials/_header'); %>
  <main class="all-listings">
    <a><strong>Featured</strong></a>
    <section class="featured">
    <% for(let product of products.filter((item) => item.isfeatured===true && item.issold===false)) { %>
      <article class="featured-listing">
        <a href="products/<%=`${product.id}`%>">
        <img src="<%= `${product.img_url}` %>">
        <div class="title"><%= product.title %></div>
      </a>
        <span class="price">$<%= product.price %></span>
      </article>
      <% } %>
    </section>
  <div class="sorting-buttons">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="favouritesOnly">
      <label class="form-check-label" for="favouritesOnly">Show Only Favourites</label>
    </div>
    <select id="sortBy" class="form-select" aria-label="Default select example">
      <option value="recent" selected>Most recent</option>
      <option value="priceLow">Price: low to high</option>
      <option value="priceHigh">Price: high to low</option>
    </select>
  </div>
  <section id="regular-listings">
    <% for(let product of products.filter((item) => item.isfeatured===false && item.issold===false )) { %>
    <article class="listing">
      <div class="listing-contents">
      <a href="products/<%=`${product.id}`%>">
      <img class="listing-img" src="<%= `${product.img_url}` %>">
    </a>
      <div class="listing-details">
        <a href="products/<%=`${product.id}`%>"><%= product.title %></a>
        <div class="price">$<%= product.price %></div>
        <p><%= product.description %></p>
      </div>
      </div>
    </article>
    <% } %>
  </section>
  </main>
</body>
</html>
