<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
  <%- include('partials/_header'); %>
  <main class="unique-listing-info">
    <article class="unique-listing-details">
      <div class="unique-primary-info">
      <img src="<%= `${product.img_url}` %>">
      <div>
        <span><%= product.title %></span>
        <span class="price">$<%= product.price %></span>
      </div>
      <p><%= product.description %></p>
    </div>
      <div class="unique-listing-buttons">
        <% if (typeof user_id !=='undefined' && user_id.admin === true) { %>
          <button id="markSold" value="<%= `${product.id}` %>" class="<%= product.sold ? 'disabled-btn' : '' %>"><%= product.sold ? "Sold" : "Mark As Sold" %></button>
        <% } %>
        <% if (typeof user_id !=='undefined') { %>
          <button id="addFavourite" value="<%= `${product.id}` %>" class="<%= isFavourite ? 'disabled-btn' : '' %>"><%= isFavourite ? "Favourite" : "Add As Favourite" %></button>
        <% } %>
        <% if (typeof user_id !=='undefined' && user_id.admin === false) { %>
          <button>Contact Breeder</button>
        <% } %>
      </div>
      <p class="user-msg"></p>
    </article>
  </main>
</body>

</html>
