<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
  <%- include('partials/_header'); %>
  <main class="unique-listing-info">
    <article class="unique-listing-details">
      <div class="unique-primary-info">
      <img src="<%= `${product.img_url}` %>">
      <div>
        <span><%= product.title %></span>
        <span class="price">$<%= product.price %></span>
      </div>
      <p><%= product.description %></p>
    </div>
      <div class="unique-listing-buttons">
        <button>Mark As Sold</button>
        <button>Add As Favourite</button>
        <button>Contact Seller</button>
      </div>
    </article>
  </main>
</body>

</html>
